@model Chef

<div class="container">
    <a href="/">Home</a>
    <form action="/createChef" method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="FirstName">First Name:</label>
                    <input asp-for="FirstName" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="LastName">Last Name:</label>
                    <input asp-for="LastName" class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="DateOfBirth">Date of Birth:</label>
                    <input asp-for="DateOfBirth" class="form-control">
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    <div class="mt-2">
                        <input type="submit" value="Add Chef">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>