@model Association

<h1 class="text-center">@ViewBag.singleCat.Name</h1>
<a href="/">Home</a>
<hr>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-xs text-center">
            <h3>Products:</h3>
        </div>
        <div class="col-xs text-center">
            <h3>Add Product To Category</h3>
            <form action="/addProductToCategory" method="post">
                <div class="form-group">
                    <select asp-for="ProductId" class="form-control">
                    @{
                        foreach(Product p in ViewBag.allProducts)
                        {
                            <option value="@p.ProductId">@p.Name</option>
                        }
                    }
                    </select>
                </div>
                    <input type="hidden" asp-for="CategoryId" value="@ViewBag.singleCat.CategoryId">
                <div class="form-group">
                    <input type="submit" value="Add Product" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>